@model IEnumerable<Wallet.WEB.Models.AccountViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th></th>
    </tr>

    @foreach (var account in Model)
    {
        <tr>
            <td>
                @account.Id
            </td>
            <td>
                @account.Money
            </td>
        </tr>
    }
<tr>
    <td>
        @Html.ActionLink("MakeAccount", "MakeAccount")
    </td>
</tr>
</table>